@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* { margin:0; padding:0 }

body, html {
   font-family: Arial, Helvetica, sans-serif;
   height: 100%;
}

h1 {
    text-align: left;
	margin-top: 0px;
}

p {
	/*font-family: Garamond, Georgia, serif;*/
}


hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	margin-top: 1px;
	padding: 0;
	border-color: purple;

}

footer {
	padding: 10px;
	background-color: #333;
	color: white;
	position: fixed; 
	z-index:2; 
	bottom: 0px; 
	width: 100%;
}

li {
	float: left;
}

.spaced {
	margin: 20px;
	color: white;
	font-size: 150%;
}

.section {
	background-color: #2C3A3D;;
	color: white;
	width: 100%;
}

.h3pretty { 
	margin:0; padding:0; 
}

.ulpretty {
	margin-top: 0px;
	margin-left: 20px;
	padding-top: 0px;	
	list-style-image: url("https://s3.amazonaws.com/www.benjaminfrishman.com/images/bullet.png");
	/*personal use url list-style-image: url("../www.benjaminfrishman.com/images/bullet.png");*/
}

.ulwrapper{
	text-align: center;
}

.ulwrapper ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style-image: url("https://s3.amazonaws.com/www.benjaminfrishman.com/images/bullet.png");
	/*personal use url list-style-image: url("../www.benjaminfrishman.com/images/bullet.png");*/
}

.ulwrapper ul {
	padding: 2px 5px;
	list-style-image: url("https://s3.amazonaws.com/www.benjaminfrishman.com/images/bullet.png");
	/*personal use url list-style-image: url("../www.benjaminfrishman.com/images/bullet.png");*/
}

.ulbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
	position: fixed;
	left: 0;
	right: 0;
	z-index:2; 
	top: 0;
	width: 100%;
}

li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.skillDiv {
	/*background-color: #ccddff;*/
	height: 100%;
}

.eduDiv {
	/*background-color: #ebd9c6;*/
	height: 100%;
}

.expDiv {
	/*background-color: #f2ccff;*/
	height: 100%;
}

#mainBox {
    margin: 0;
    width: 100%;
	overflow: auto;	
	height: 100%;
	display: block;
}

#sidebarIMG {
	margin: 20px;
	text-align: center;
}

#mainBox .lrgColumnG { /*sidebar box*/
    float: left;
    margin: 0;
	display: inline-block;
    width: 20%;		
	height: 100%;
	margin-right: 0px;
	background-color: #2C3A3D;
	/*box-shadow: 5px -10px 20px #2C3A3D;*/
}

#mainBox .lrgColumnB { /*main box*/
    float: left;
    margin-left: 0px;
	display: inline-block;
	height: 100%;
	position: absolute;
	top: 48px;
	bottom: 112px;
	z-index:1; 
    width: 80%;		
	background-color: #e0e0d2; /*#717A8B;*/
}

#contentBox {
    margin: 0;
    width: 70%;
	overflow: auto;
}

#contentBox .column {
    float: left;
    margin: 0;
    width: 50%;
}

#parentDiv {
    margin-right:10px;
    float:left;
}
.child1{
    float:left;
	width: 35%;
}

.child2{
    float:right;
	width: 35%;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: green;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdownnotoption {
	border-bottom: solid;
	border-top: solid;	
	border-width: 1px; 
	border-color:black;
	background-color: #333;	
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.img-circle {
	border-radius: 50%;
}

.bgimg {
	background-color: #e0e0d2; /*#717A8B;*/
	/*background-image: url('../Resume website/background.jpg');*/
}

.nameplate {
	background-image: url('../appSite/steel.jpg');/*borrowed from background website https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiO1J7Tg6zSAhWh3YMKHVWqCwYQjhwIBQ&url=http%3A%2F%2Fmore-sky.com%2Fgroup%2Fcool-background-picture%2F&psig=AFQjCNHBIAnpIFtB8DmnH_p1iqSOmx1YTQ&ust=1488138866983419*/
	/*text-align: center;*/
	left: 0px;
	right: 0px;
}

.nameplatediv {
	text-align: center;
	text-align: center;
	top: center;
}

.nameplatetxt{
		float: left;
		color: white;
}

.welcomeP {
	margin: 0px;
	padding-top: 15%;
	padding-left: 15%;
	text-align: center;
	width: 35%;
	color: white;
	font-size: 200%;
}

#myProgress {
	width: 100%;
	/*background-color: grey;*/
    border-radius: 25px;
}

.bar {
	width: 1%;
	height: 30px;
	margin: 10px;
	background-image: url('https://s3.amazonaws.com/www.benjaminfrishman.com/images/bar.jpg');
	/*personal use url background-image: url('../www.benjaminfrishman.com/images/bar.jpg');*/
    border-radius: 25px;	
}

.bartext {
    top: 10%;
	padding-left: 20px;
	color: white;
}

.pcenter {
	text-align: center;
	margin: 0;
}